.pg-status-pedido{
    display: flex;
    flex-direction: row;
    
     .div-button-pg-status{
        display: flex;
    }
}

.quadrande-maior-pg-status-pedido{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-left: 70px;
    margin-top: 70px;

    border-radius: 15px;
    

    width: 900px;
    height: 400px;

    background-color:  #95B9CE;

    .inputs-status-pedido{
        display: flex;
        flex-direction: column;
        
        margin-left: 30px;
        margin-top: 50px;
    }

    .input-text-status-pedido{
        color: #ffff;

        font-size: 18px;
        
        .caixa-input-pg-status{
            width: 300px;
            height: 20px;

            border: none;
            border-radius: 5px;
        }
    }

    .quadrante-menor-status-pedido{
        display: flex;
        flex-direction: column;
        
        width: 400px;
        height: 200px;

        margin-top: 50px;
        
        background-color: #3E7797;
    }

    .h3-status-pedido{
        color: #ffff;

        margin-top: 20px;

        font-size: 20px;
        text-align: center;
    }

    .status-fotos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        color: #ffff;

        margin-top: 20px;


    }


    .div-pt2-status{
        display: flex;
        flex-direction: row;
        
        
    }

    .div-pt2-status{
        display: flex;
        flex-direction: row;
        align-items: flex-start;

       
        
        color: #fff;


        

        input{
            
            width: 20px;
             border: none;
            border-radius: 5px;

            margin-left: 20px;

            
        }
    }

    
}.botton-pg-status{
        background-color: #3E7797;
        color: #ffff;

        width: 110px;
        height: 30px;

        border: none;
        border-radius: 10px;
    }

   