.pag-detalhe{
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    width: 1000px;
    height: 500px;
}

.img-livro{
    margin-left: 20px;
    width: 150px;
    height: 240px;
}

.img-favorito{
    width: 30px;
    height: 60px;

    margin-left: 950px;
    margin-top: 10px;
}

.img-x{
    width: 100px;
    height: 600px;

    margin-left: 900px;
    margin-top: 10px;
}

.nome-autor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cont-nome-autor{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-left: 42px;   
}

.genero-paginas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.cont-genero-pag{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.div-desc{
    margin-top: 40px;
    margin-left: 210px;  
}

.buttons-pg-detalhe{
    display: flex;
    flex-direction: row;
}

.button-add{
    background-color: #2C5B92;
    color: #FFFFFF;

    border-radius: 17px;
    border: none;

    width: 200px;
    height: 30px;

    margin-left: 650px;
    margin-top: 100px;
}

.button-comprar{
    background-color: #2C5B92;
    color: #FFFFFF;

    border-radius: 17px;
    border: none;

    width: 90px;
    height: 30px;   

    margin-top: 100px;
}

.img-livro-detalhe{
    position: absolute;
    width: 140px;
    height: 200px;
    left: 35px;
    top: 100px;
    
}
