.pag-total-adm{
    
    input{
        padding-left: 20px;
    }
   .comp-logo-azul{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  
    font-size: 32px;
    line-height: 40px;
    margin-left: 40px;
    color: #3E7797;

    
   }

   .logo-voltar{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 3px;
    margin-left: 140px;

    color: #3E7797;

   }
 
  
}

.cabecalho-login{
    display: flex;
    flex-direction: column;
    margin-top: 105px;

        .text-principal{
        

        font-family: 'Montserrat', sans-serif;
        font-style: bold;
        font-weight: 400;
        font-size: 25px;
        line-height: 58px;
        text-align: center;

        

        color: #000000;

        span{
            color: #3E7797;
        }
    }

        

            .email-login{
                font-family: 'Oswald', sans-serif, bold;
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                line-height: 10px;
                margin-left: 16em;
                margin-top: 70px;
                
                color: #000000;
            }

            .input-email-login-adm{
                width: 450px;
                height: 30px;
                margin-top: 20px;
                outline: none;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border: none;
                font-family: 'Oswald', sans-serif, bold;

                align-self: center;  
            }

        

        
            .senha-login{
                font-family: 'Kantumruy';
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                line-height: 10px;
                text-align: center;

                color: #000000;
            }

            .input-senha-login-adm{
                width: 450px;
                outline: none;
                height: 30px;
                margin-top: 20px;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border: none;

                align-self: center;              

            }

           
        }



.adm-botao{
    button{
        background-image: linear-gradient(to right, rgba(4, 47, 141, 0.87), #3E7797, rgba(78, 165, 199, 0.795));;

        font-family: 'Oswald', sans-serif ;
        font-size: 23px;
        line-height: 4px;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
        left: 85%;
        top: 90%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: none;
        width: 100px;
        height: 40px;
    }
    button:hover{
        animation-name: botao;
        animation-duration: 0.5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }


}


@keyframes botao {
   0%{
    transform: scale(1);
   }
   100%{
    transform: scale(1.05);
   }
}


.credenciais-invalidas{
    color: red;
    font-family: 'Oswald', sans-serif, bold;
    font-size: 24px;
    text-align: center;
    
    padding-top: 5%;
}

