

main{
    .titulo{
        h1{
        color: #3E7797;
        padding-left: 30px;
        padding-top: 20px;
        font-family: 'Montserrat', sans-serif;
       }
       a{
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 3px;
        margin-left: 140px;
        margin-top: 30px;
    
        color: #3E7797;
       }
       
   
    }

    .nomee{

        display: flex;
        flex-direction: column;
        
         
        .section1{
        display: flex;
        flex-direction: column;
        
       
    
        .dados{
            display: flex;
            flex-direction: column;

            width: 100%;
            max-width: 550px;
            margin-left: 23em;
            margin-top: 20px; 

           
           
            
    
    
    
            input, select{
                background: #FFFFFF;
                box-shadow: 0px 10px 10px rgba(34, 34, 34, 0.267);
                border: none;
                outline: none;
                font-size: 19px;
                height: 40px;
                padding-left: 20px;
                border-radius: 10px;
                letter-spacing: 1.5px;
                font-family: 'Oswald', sans-serif;
                font-weight: bold;
    
            }
    
           .dado{
            display: flex;
            flex-direction: column;
            margin-bottom: 6px;
            margin-top: 23px;
            font-size: 20px;
            outline: none;
            font-family: monospace;
            cursor: default;
            font-family: 'Oswald', sans-serif, bold;
            
      
           }
        }
    
        }
      
        .botaoo{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-top: 60px;
            padding-left: 21em;

            button{
                background-image: linear-gradient(to right, rgba(4, 47, 141, 0.87), #3E7797, rgba(78, 165, 199, 0.795));;
                border: none;
                width: 140px;
                height: 40px;
                border-radius: 10px;
                color: white;
                font-size: 17px;
                cursor: pointer;
                font-family: 'Oswald', sans-serif ;
                
                font-size: 20px; 
                padding-bottom: 8px;

            }      
                button:hover{
                    animation-name: botao;
                    animation-duration: 0.5s;
                    animation-direction: alternate;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                }
        
            
        }
        }

        @keyframes botao {
            0%{
                transform: scale(1);
            }
            100%{
                transform: scale(1.05);
            }
        }
       
        .loguinho{
            margin: 50px;
        }
        .opa{
            display: flex;
            justify-content: center;
            padding-top: 10px;
            padding-right: 68px;
            
            h1{
                font-size: 30px;
                font-family: 'Oswald', sans-serif;
              
            }
            h1:hover{
                animation-name: botao;
                animation-duration: 0.5s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            span{
                color: #3E7797;
            }
        }

        
    }



