.rodape-esquerdo{
    background-color: #3E7797;

    display: flex;
    flex-direction: column;

    .home{
        display: flex;
        flex-direction: row;
    }

    .img-home{
        width: 26px;
        height: 26px;
    }

    .cadastrar{
        display: flex;
        flex-direction: row;
    }

    .img-cadastrar{
        width: 23px;
        height: 23px;
    }

    .gerenciar{
        display: flex;
        flex-direction: row;
    }

    .img-gerenciar{
        width: 37px;
    height: 37px;
    }

    .pedidos{
        display: flex;
        flex-direction: row;
    }

    .img-pedidos{
        width: 34px;
    height: 34px;
    }
}