.cabecalho-principal {
    display: flex;
    flex-direction: row;
    
    height: 80px;

    background-color: #3E7797;

    align-items: center;
    justify-content: space-around;
}

.logo-branca {
    color: #ffffff;
    font-family: 'Milonga';
    font-style: normal;
    font-weight: 400;
    font-size: 28.5778px;
    line-height: 36px;
    text-align: center;
}
.pesquisa{
    padding-right: 60px;
}
.input-pesquisa {
    width: 430px;
    height: 30px;
    padding-left: 20px ;

    border-radius: 10px;
    border: none;
    outline: none;

 
}
.lupa1{
    width: 36px;
    height: 36px;
}

.login {
    display: flex;
    flex-direction: column;

}

.login>img {
    position: absolute;
    top: 2%; 
   
     height: 36px;
    width: 36px;
    
}

.login>p {
    font-size: 1em;
    margin-top: 45px;

 
    color: #ffffff;

    height: fit-content;
}
.carrinho {
    display: flex;
    flex-direction: column;
}

.carrinho>img {
    position: absolute;
    top: 2%; 
    left: 91%;
    height: 36px;
    width: 36px;
}

.carrinho>p {
    margin-top: 45px;
         font-size: 1em;
 
    color: #ffffff;
}
