* {
    margin: 0;
}
.landpage {
    
.comp-pesquisa2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 490px;
    height: 47px;
    margin-top: 20px;
    margin-right: 50px;

    .input-pesquisa {
    
        width: 430px;
        height: 30px;
        font-family: 'Mulish';
        font-weight: bold;
          
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        outline: none;

        color: #000;

        border-color: #3E7797;
    }
   
    img{ 
            padding-top: 3px;  
            width: 30px;
            height: 30px;
          
      
        
    }
    
   


}


    .swiper-button-next::after{
        color: #ffffff; 
    }
    .swiper-button-prev::after{
        color: #ffffff;

       
    }
    .swiper{
        color: #000000;

    }
    .cabecalho-principal {
        display: flex;
        flex-direction: row;

        height: 80px;

        background-color: #3E7797;

        align-items: center;
        justify-content: space-around;
    }

    

    .logo-branca {
        color: #ffffff;
        font-family: 'oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 28.5778px;
        line-height: 36px;
        text-align: center;
    }

    .login {
        display: flex;
        flex-direction: column;

    }

    .login>img {
        height: 36px;
        width: 36px;
       
    }

    .login>p {
        font-size:1em;
        font-family: 'Mulish';
    

        color: #ffffff;

        height: fit-content;
    }
    .carrinho {
        display: flex;
        flex-direction: column;
       
    }

    .carrinho>img {
        height: 36px;
        width: 36px;
    }

    .carrinho>p {
        font-size: 1em;

        color: #ffffff;
    }
    .mais-vendidos{
        text-align: center;
        color: #656464;
    }
    .pt-carrosel{
        background-color: #3E7797;
        height: 320px;
    }
    .explore-os-montes{
        padding-top: 20px;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 43px;
        text-align: center;
        margin-right: 30px;
      
        
        color: #000000;
        span{
            color: #ffffff;
        }
    }

    .carrosel-pt1{
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #ffffff;
        height: 235px;
        span{
            background-color: #ffffff;
        }
    }
 
    
    .img-set-esq{
        width: 90px;
        height: 90px;
        padding-top: 40px;
        
    }
    .img-set-dir{
        width: 90px;
        height: 90px;
        padding-top: 40px;
        
    }
    .img-terror{
        width: 130px;
        height: 130px;   
    }
    
    .img-infantil{
        width: 140px;
        height: 140px;     
    }
    .img-programacao{
        width: 130px;
        height: 130px;    
    }
    .img-psico{
        width: 140px;
        height: 140px; 
    }
    .img-romance{
        width: 140px;
        height: 140px; 
    }

    .div-terror{
        text-align: center;
        margin-top: 10px;
        font-family: 'Oswald';
        font-size: 20px;
    }

    .div-infantil{
        text-align: center;
        margin-top: 10px;
        font-family: 'Oswald';
        font-size: 20px;
        
    }

    .div-programacao{
        text-align: center;
        text-align: center;
        margin-top: 20px;
        font-family: 'Oswald';
        font-size: 20px;
    }

    .div-psico{
        text-align: center;
        margin-top: 10px;
        font-family: 'Oswald';
        font-size: 20px;
         
    }

    .div-romance{
        text-align: center;
        margin-top: 10px;
        font-family: 'Oswald';
        font-size: 20px;
         
    }

    .novidades-ladpage{
        font-family: 'Mulish';
        
        font-size: 30px;
        line-height: 42px;
        text-align: center;

       margin-top: 25px;
    }


    .beneficios-landpage{
        background-image: url(../../assets/images/background.png);
        background-repeat: no-repeat;
        width: 100vw;
        height: 630px;
       
        padding-right: 30px;

        .titulo-land{
            font-family: 'Caveat';
          
           
            font-size: 40px;
            line-height: 47px;
            text-align: center;
            padding-top: 20px;
            color: #FFFFFF;
        }

        .paragrafos-landpage{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 15px;
         
        }

        .paragrafo1-landpage{
            display: flex;
            flex-direction: column;

            color: #ffffff;
            width: 350px;
            height: 240px;
            
            background: #004064;
            border-radius: 30px;

            font-family: 'Mulish';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 29px;

            
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
            h3{
                color: rgb(173, 229, 255);
            }

        }

        .menina{
            
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 30px;
            height: 320px;
            
            
        }
    }

    .nos{
        display: flex;
        flex-direction: column;
        align-items: center;



        .f-quem-somos{
            display: flex;
            flex-direction: row;
          
          
        }
        
        .administracao{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-right: 45px;
          
            
        }

        .agazinho2{
            width: 460px;
            height: 50px;
    
            font-family: 'Mulish';
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 40px;
            text-align: center;
            
            
            margin-top: 80px;
    
            span{
                color: 
                #3E7797;
            }
    
            
        }
        .div-isabella{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                padding-top: 30px;
               
    
                
            }
    
        .foto-isabella{
            width: 85px;
            height: 85px;     
        }
        .txt-desenvolvedora{
                    
            padding-left: 10px;
            font-family: 'Mulish';
            font-weight: bold;
            font-size: 24px;
            line-height: 51px;
            
        }
    
        .div-ashley{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
    
           
    
            .img-ashley{
                           
    
                width: 85px;
                height: 85px;
            }
            .txt-desenvolvedora1{
                
                padding-left: 10px;
                font-family: 'Mulish';
                font-weight: bold;
                font-size: 24px;
                line-height: 51px;
                
            }
            
        }
    
        .div-ana{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            
    
            .foto-ana{
                           
                
                width: 85px;
                height: 85px;
            }
        }
        .txt-desenvolvedora2{
            
            padding-left: 10px;
            font-family: 'Mulish';
            font-weight: bold;
            font-size: 24px;
            line-height: 51px;
            
        }
        
        .div-guilherme{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            
            
            .foto-guilherme{
                
                
                width: 85px;
                height: 85px;
            }
            .txt-desenvolvedora2{
                            
        
                padding-left: 10px;
                font-family: 'Mulish';
                font-weight: bold;
                font-size: 24px;
                line-height: 51px;
                
            }
        }
        .hagazinhooo2{
            margin-top: -400px;
            
            
            font-family: 'Sansita';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 42px;
            text-align: center;
    
            span{
                color: 
                #3E7797;
            }
        }
    
        .quemsomos-desc{
            margin-top: 5px;
            
            
            padding: 20px;
            
          font-family: 'Mulish';
          font-weight: bold;
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 120px;
    
            color: #FFFFFF;
            background-color: #3E7797;
    
            border-radius: 32.6184px;
    
            width: 400px;
            height: 200px;
        }
    
       .quemsomos{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 40px;
        font-family: 'Mulish';
        
       }
    
        .mulher-ti{
            width: 270px;
            height: 270px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
           margin-top: 15em;
           margin-right: 40px;
            
            
        }
    
    }

    
    
    
    
    .rodape-landapage{
        width: 100vw;
        height: 28vh;
        margin-top: 130px;
        padding-top: 30px;
        background-color: rgb(162, 195, 211);

        display: flex;
        justify-content: space-around;
        flex-direction: row;

        .p-pagamento{
            
            padding-top: 10px;
            

           font-family: 'Mulish';
           font-weight: bold;
            font-size: 20px;
            line-height: 34px;
            

            color: #000000;
        }

        .r-redes{
            
            padding-top: 10px;
            

            font-family: 'Mulish';
            font-weight: bold;
            font-size: 20px;
            line-height: 34px;
            

            color: #000000;
            p{
                font-family: 'Mulish';
            }
        }

        .div-insta{
            display: flex;
            flex-direction: row;
            margin-top:10px;
            p{
                font-family:'Mulish';

            }

            img{
                margin-top: -33px;
                
            }
        }
        
    }
    
    .livros-landpage{
        display: flex;
        

        margin: 50px;

        .livros{
            display: flex;
            
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}