.pag-total-usuario{
    
    input{
        padding-left: 20px;
    }
    h1{
    font-family: 'Montserrat', sans-serif;  
   
   
    margin-left: 40px;
    margin-top: 20px;
    color: #3E7797;
   }

   .logo-voltar{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 3px;
    margin-left: 140px;
    margin-top: 30px;

    

    color: #3E7797;

   }
 
  
}

.cabecalho-login{
    display: flex;
    flex-direction: column;
    margin-top: 30px;

        .text-principal{
        

        font-family: 'Mulish';
        font-size: 30px;
        line-height: 58px;
        text-align: center;
        margin-right: 45px;
        font-weight: bold;

        

        color: #000000;

        span{
            color: #3E7797;
        }
    }

        

           .email-login{
            font-family: 'Mulish';
            font-weight: bold;
            font-size: 20px;
            margin-top: 60px;
            margin-left: 20em;
            
           }
            input{

                background: #FFFFFF;
                box-shadow: 0px 10px 10px rgba(34, 34, 34, 0.267);
                border: none;
                outline: none;
                font-size: 19px;
                height: 40px;
                padding-left: 20px;
                border-radius: 10px;
                letter-spacing: 1.5px;
                font-family: 'Mulish', sans-serif;
                font-weight: bold;
                align-self: center;  
            }

        

        
            .senha-login{
                font-family: 'Kantumruy';
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                line-height: 10px;
                text-align: center;

                color: #000000;
            }

            .input-senha-login-usuario{

                width: 515px;
                outline: none;
                height: 30px;
                margin-top: 20px;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border: none;

                align-self: center;              

            }

                .input-email-login-usuario{
                    width: 515px;
                    outline: none;
                    height: 30px;
                    margin-top: 20px;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border: none;
    
                    align-self: center; 
                }
        }



.botao{

    button{

        font-family: 'Oswald', sans-serif ;
       
        padding-bottom: 8px;
        font-size: 24px;
        line-height: 4px;
        text-align: center;
    
        background-image: linear-gradient(to right, #042f8dde, #3E7797, #4ea5c7cb);;
        color: #FFFFFF;
        position: absolute;
        left: 85%;
        top: 90%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: none;
    
        width: 100px;
        height: 40px;
    }
    button:hover{
        animation-name: botao;
        animation-duration: 0.5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }


}


@keyframes botao {
   0%{
    transform: scale(1);
   }
   100%{
    transform: scale(1.05);
   }
}





.credenciais-invalidas{
    color: red;
    font-family: 'Monserrat';
    

    
    font-size: 24px;
    text-align: center;
    padding-bottom: 40px;
    
}


.cadastrar-agora{
    position: relative;
    top: 80%;
    margin-left: 100px;

    padding-top: 90px;
 

    color: #000000;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
   
    font-style: normal;
    
    font-size: 20px;
    line-height: 0.1px;

   
}

.cadastrar{
    a{
        display: flex;
        margin-top: 25px;
        font-family: 'Mulish';
        font-weight: bold;
        color: #000000;
    }
    
}

