.endereco {
  display: flex;
  flex-direction: column;

  h1{
    padding-top: 200px;
    font-family: 'Mulish';
    font-weight: bold;
    font-size: 30px;
    span{
      color: #3E7797;
    }
  }

  .titulo2{
    h1{
    font-family: 'Mulish';
    font-weight: bold;

    color: #3E7797;
    padding-left: 30px;
    padding-top: 15px;
    font-size: 2em;
    }
    
     
  }
  

  /*{
        border: green 1px solid ;
    }*/

  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
    padding-top: 110px;
  }
  .pg-endereco-cep,
  .pg-endereco-numero,
  .pg-endereco-estado,
  .pg-endereco-logradouro,
  .pg-endereco-cidade,
  .pg-endereco-bairro,
  .pg-endereco-referencia,
  .pg-endereco-complemento {
    display: flex;
    flex-direction: column;
    font-family: "Oswald";
    font-size: 1em;
  
    width: 550px;
  
    input {
      background: #ffffff;
      box-shadow: 0px 10px 10px rgba(34, 34, 34, 0.267);
      cursor: default;
      border: none;
      outline: none;
      font-size: 19px;
      height: 40px;
  
      padding-left: 20px;
      border-radius: 10px;
      letter-spacing: 1.5px;
      font-family: 'Mulish';
      font-weight: bold;
     
     
    }
  }
  
  label {
    font-family: "Mulish";
    font-weight: bold;
    margin-top: 40px;
   
    font-size: 1.2em;
  }

  .botoes {
    display: flex;
    flex-direction: row;
    
    margin-top: 40px;
    margin-left: 60px;


    width: 250px;

    button {
      font-family: "Oswald", sans-serif;

      padding: 8px;
      font-size: 20px;
      line-height: 4px;

      background-image: linear-gradient(
        to right,
        #042f8dde,
        #3e7797,
        #4ea5c7cb
      );
      color: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      border: none;

      width: 100px;
      height: 40px;
    }
    button:hover {
      animation-name: botao;
      animation-duration: 0.5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    @keyframes botao {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.05);
      }
    }
  }
}
