* {

    margin:0;

}
.mae{
    display: flex;
    flex-direction: row;
   

    .segundo0quadsrante
     .quadrado{
       
         width: 700px;
         height: 700px;
         background-color: #95B9CE;

    }
}
 

