
.comp-card {



    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 50px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(4, 47, 141, 0.87), #3E7797, rgba(78, 165, 199, 0.795));;
    margin-top: 40px;
    flex-wrap: wrap;
    width: 900px;
    height: 170px;
    padding: 15px 0px;

    .capa {

        margin-top: 22px;

        height: 120px;
        width: 80px;

    }

    .coluna-txt {
      
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        width: 253px;

    }

    .coluna-txt>p {
        display: flex;
        align-items: center;

        background-color: white;
        border-radius: 10px;

        text-indent: 10px;

        height: 30px;

    }
    .genero{

        width: 120px;



    }

    .preco {

        width: 132px;
    }

    .preco > p {

        display: flex;
        align-items: center;
        text-align: justify;

        background-color: white;
        border-radius: 10px;

        text-indent: 10px;

        height: 30px;

    }

    .descricao{

        display: flex;
        flex-direction: column;

        width: 250px;

    }

    .descricao > p {

        display: flex;
        align-items: center;

        background-color: white;
        border-radius: 10px;

        text-indent: 10px;

        height: 150px;

    }

    .imgs {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
       

    }



}


.comp-pesquisa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 490px;
    height: 47px;
    margin-top: 20px;
    margin-left: 50px;

    .input-pesquisa {
    
        width: 430px;
        height: 30px;

        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        outline: none;

        color: #000;

        border-color: #3E7797;
    }
    .lupa{
        margin-top: 5px;
        width: 28px;
        height: 28px;
    }
    .lupa > img{

            
            width: 25px;
            height: 25px;
            border: green 1px solid;
      
      
        
    }
    
   


}
