
.comp-card {



    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 50px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(30, 52, 100, 0.767), #3e7697d5, rgba(108, 186, 218, 0.795));;
    margin-top: 40px;
    flex-wrap: wrap;
    width: 900px;
    height: 195px;
    padding: 15px 0px;

    .capa {

        margin-top: 22px;

        height: 120px;
        width: 80px;

    }

    .coluna-txt {
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        width: 230px;
        

        label{
            padding-top: 10px;
            color: #fff;
        }
    }

    .coluna-txt>p {
        display: flex;
        align-items: center;
        margin-top: 6px;
        background-color: white;
        border-radius: 10px;

        text-indent: 10px;

        height: 30px;
        
    }
    .genero{

        width: 120px;



    }

    .preco {
        
        width: 85px;
        margin-top: 8px;
        label{
                               
            color: #fff;
        }
    }

    .preco > p {

        display: flex;
        align-items: center;
        text-align: justify;

        background-color: white;
        border-radius: 10px;

        text-indent: 10px;
        margin-top: 6px;     
        height: 30px;

    }

    .descricao{

        display: flex;
        flex-direction: column;
        margin-top: 8px;
        width: 250px;
        label{
            margin-bottom: 6px;        
            color: #fff;
        }

    }

    .descricao > p {

        display: flex;
        align-items: center;

        background-color: white;
        border-radius: 10px;

        text-indent: 10px;

        height: 150px;
        width: 120%;

    }

    .imgs {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 45px;
        padding-top: 35px;

        .lapis{
            padding-bottom: 45px;
        }
       

    }




}


.comp-pesquisa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 490px;
    height: 47px;
    margin-top: 20px;
    margin-left: 50px;

    .input-pesquisa{
    
        width: 430px;
        height: 30px;

        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        outline: none;
        margin-left: 10px;
        color: #000;

        border-color: #3E7797;
    }

    input:hover{

       box-shadow: 0 0 15px 5px #243d5e8e;
     
        
    }


    img{
        margin-top: 5px;
        width: 28px;
        height: 28px;
    }
    img{

            
            width: 25px;
            height: 25px;
            
        }
        img:hover{
            animation-name: botao;
            animation-duration: 0.5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            
        }
    }
    
    
  
    @keyframes botao {
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(1.05);
        }
    }
      
        
    
    
   



