.card-endereco {
    display: flex;
    flex-direction: column;
    cursor:pointer; 

    width: 380px;
    margin-top: 20px;

    background-color: #ffff;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 15px;

    label {
        font-family: 'Mulish';    
    }

    .titulo-comp-endereco {
        align-self: center;
    }

    .conteudo-card-endereco {
         height: 230px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .f-esquerda-comp-endereco {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        label{
            font-family: 'Mulish';
            font-weight: bold;
        }
        height: 210px;


    }

    .f-direita-comp-endereco {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        height: 180px;


    }
    
}